html,body {
    margin:0;
    padding:0;
    --vertical-margin: 6%;
    --horizontal-margin: 15%;
}

.localized {
    display: none;
}

.header {
    height: 150px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu {
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_text {
    line-height: 200%;
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-weight: 700;
}
.selector {
    color: black;
    border-width: 0;
    background-color: transparent;
    font-family: "Fira sans", sans-serif;
    font-size: 16px;
    text-align: center;
}
.selector:focus-visible {
    outline: none !important;
    box-shadow: none !important;
}

.banner {
    padding-top: var(--vertical-margin);
    padding-bottom: var(--vertical-margin);
    background-image: url("images/polyphemus.png");
    background-position: center center;
    display: flex;
    align-items: center;
    
}
.banner_container {
    padding-left: var(--horizontal-margin);
    width: 500px;
    color: rgb(207, 250, 255);
}
.banner_heading {
    font-family: "Playfair Display", serif;
    font-size: 60px;
    line-height: 120%;
}
.banner_text {
    font-family: "Fira sans", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
}

.profile_picture {
    aspect-ratio: 1;
    margin-left: auto;
    margin-right: var(--horizontal-margin);
    height: 350px;
    width: 350px;
    border-radius: 50%;
}

.projects_section {
    padding-left: var(--horizontal-margin);
    padding-right: var(--horizontal-margin);
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}
.projects_text_container {
    width: 400px;
    margin-right: 100px;
}
.projects_heading {
    font-family: "Playfair Display", serif;
    font-size: 35px;
    font-weight: 700;
}
.projects_text {
    font-family: "Fira Sans", serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
}
.projects_container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.project_container {
    flex-basis: 100%;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px
}
.project_image {
    aspect-ratio: 1;
    height: 200px;
    width: 200px;
    border-radius: 25%;
    background-color: black;
}
.project_title {
    line-height: 200%;
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-weight: 700;
}
.project_text {
    font-family: "Fira Sans", serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
}

@media (max-width: 1000px) {
    html,body {
        --vertical-margin: 6%;
        --horizontal-margin: 6%;
    }
    .banner_container {
        width: 350px;
    }
}