<h2 id="Exercises">Exercises</h2>
<ol>
    <li class="exercise">
        Template
        <table class="exercise_table">
            <tr>
                <td>(a) </td>
                <td>(c) </td>
                <td>(e) </td>
            </tr>
            <tr>
                <td>(b) </td>
                <td>(d) </td>
                <td>(f) </td>
            </tr>
        </table>
    </li>
    <li class="exercise">
        Template
        <table class="exercise_table">
            <tr>
                <td>(a) </td>
                <td>(c) </td>
                <td>(e) </td>
            </tr>
            <tr>
                <td>(b) </td>
                <td>(d) </td>
                <td>(f) </td>
            </tr>
        </table>
    </li>
</ol>
<input type="button" value="Click to show answers" onclick="var element = document.getElementsByClassName('exercise_answers')[0]; element.getAttribute('style') == 'visibility: hidden;' ? element.setAttribute('style', 'visibility: visible;') : element.setAttribute('style', 'visibility: hidden;');"/>
<div class="exercise_answers" style="visibility: hidden;">
    <ol>
        <li class="exercise">
            Template
            <table class="exercise_table">
                <tr>
                    <td>(a) </td>
                    <td>(c) </td>
                    <td>(e) </td>
                </tr>
                <tr>
                    <td>(b) </td>
                    <td>(d) </td>
                    <td>(f) </td>
                </tr>
            </table>
        </li>
        <li class="exercise">
            Template
            <table class="exercise_table">
                <tr>
                    <td>(a) </td>
                    <td>(c) </td>
                    <td>(e) </td>
                </tr>
                <tr>
                    <td>(b) </td>
                    <td>(d) </td>
                    <td>(f) </td>
                </tr>
            </table>
        </li>
    </ol>
</div>